@model IEnumerable<BookTicketMovie.Models.Room>

@{
    ViewData["Title"] = "Phòng";
}

<h1>Phòng</h1>

<p>
    <a asp-action="Create">Thêm mới</a>
</p>

<div class="table-responsive">
    <table class="table table-bordered table-hover table-striped">
        <thead>
            <tr class="bg-primary">
                <th>
                    @Html.DisplayNameFor(model => model.NumberRoom)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.AmountChair)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.status)
                </th>

                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.NumberRoom)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.AmountChair)
                    </td>
                    @if (item.status == true)
                    {
                        <td>Đang chiếu</td>
                    }
                    @if (item.status == false)
                    {
                        <td>Đang trống</td>
                    }
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id">Sửa</a> |
                        <a asp-action="Details" asp-route-id="@item.Id">Chi tiết</a> |
                        <a asp-action="Delete" asp-route-id="@item.Id">Xóa</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

