@model BookTicketMovie.Models.Showtime

@{
    ViewData["Title"] = "Delete";
}

<h1>Xóa suất chiếu</h1>

<h3>Bạn có chắc chắn muốn xóa suất chiếu này?</h3>
<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MovieId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MovieId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RoomId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RoomId)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        @if (ViewBag.AllowDelete)
        {
            <input type="submit" value="Xóa" class="btn btn-danger" />
        }
        @if (ViewBag.AllowDelete == false)
        {
            <input disabled type="submit" value="Xóa" class="btn btn-danger" />

        }
        <a asp-action="Index">Quay lại</a>
    </form>
</div>
