@model IEnumerable<BookTicketMovie.Models.Showtime>

@{
    ViewData["Title"] = "Quản lý suất chiếu";
}

<h1>Quản lý suất chiếu</h1>

<p>
    <a asp-action="Create">Thêm mới</a>
</p>
<div class ="table-responsive">
    <table class="table table-bordered table-hover table-striped">
        <thead>
            <tr class="bg-primary">
                <th>
                    @Html.DisplayNameFor(model => model.DateTime)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.MovieId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.RoomId)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.DateTime)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Movie.Title)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Room.NumberRoom)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id">Sửa</a> |
                        <a asp-action="Details" asp-route-id="@item.Id">Chi tiết</a> |
                        <a asp-action="Delete" asp-route-id="@item.Id">Xóa</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    @if (Model == null || Model.Count() == 0)
    {

        <p style="color: red;">Suất chiếu không tồn tại!</p>

    }
    <nav aria-label="Page navigation example">
        <ul class="pagination d-flex justify-content-center">
            @for (int i = 1; i <= ViewBag.TotalPage; i++)
            {

                <li class="page-item @(i== ViewBag.pageIndex ? "active" : "")"><a class="page-link" href="/Showtimes?pageIndex=@i">@i</a></li>
            }

        </ul>
    </nav>
</div>
